<%- include('./partials/dheader.ejs') %>
    <section class="blog-detail mtb-40">
    	<div class="container">
    		<div class="row">  
                    <div class="col-md-8">
                        <div class="blog-left">
                            <h1><%= rew.title %></h1>
                            <div class="posted-on">
                                <p>by <span>RSGiTECH</span> on <span><%= rew.updatedAt.toDateString() %></span></p>
                            </div>
                            <div class="detail-img">
                               <img width="550px" height="250px" src="<%= rew.image.url %>" alt="blog1" />
                            </div>
                            <div class="blog-desc">
                                <p><%= rew.description%></p>
                            </div>
                        </div>
                    </div>
    			<div class="col-md-4">
    				<div class="blog-right">
                        <div class="right-widget recent-post">
                            <h3>Recent Blogs</h3>
                            <% rew1.forEach((data)=>{%>
                                <a href="#">
                                    <div class="rb-box">
                                        <div class="rb-box-img">
                                            <img src="<%= data.image.url %>" alt="blog1" />
                                        </div>
                                        <div class="rb-box-desc">
                                            <h4><%= data.title %></h4>
                                            <p>Posted On: <%= data.updatedAt.toDateString() %></p>
                                        </div>
                                    </div>
                                </a>
                                <%})%>
                            </div>
                                
                         <div class="right-widget categories">
                             <h3>Categories</h3>
                             <ul>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Culture</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Opinion</a></li>
                                <li><a href="#">Science</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Style</a></li>
                                <li><a href="#">Travel</a></li>
                            </ul>
                         </div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <%- include('./partials/footer.ejs') %>
